<ion-header>

  <ion-navbar color="primary">
    <ion-title>Transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">

    <ion-item>
      <ion-label>Exchange</ion-label>
      <ion-select formControlName="exchange">
        <ion-option *ngFor="let exchange of availableExchanges" [value]="exchange.name">{{exchange.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Crypto</ion-label>
      <ion-select formControlName="cryptocurrency" #cryptocurrencySelect>
        <ion-option *ngFor="let cryptocurrency of availableCryptocurrencies" [value]="cryptocurrency.acronym">{{cryptocurrency.acronym}}</ion-option>
        <ion-option (ionSelect)="addCustomCryptocurrency()">Custom</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY" max="{{today}}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Quantity</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <button type="button" ion-button block [disabled]="transactionForm.invalid" (click)="calculate()">
      Calculate
    </button>

    <ion-item>
      <ion-label floating>Cost</ion-label>
      <ion-input type="number" readonly formControlName="cost"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Break Even Price</ion-label>
      <ion-input type="number" readonly formControlName="breakEvenPrice"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Suggested Sell Price</ion-label>
      <ion-input type="number" readonly formControlName="suggestedSellPrice"></ion-input>
    </ion-item>

    <ion-fab right bottom>
      <button ion-fab [disabled]="transactionForm.invalid"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>

  </form>

</ion-content>
