<ion-header>

  <ion-navbar color="primary">
    <ion-title>Transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">

    <ion-item>
      <ion-label>Exchange</ion-label>
      <ion-select formControlName="exchange" [(ngModel)]="transaction.exchange">
        <ion-option *ngFor="let exchange of availableExchanges" [value]="exchange.name">{{exchange.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Crypto</ion-label>
      <ion-select formControlName="cryptoType" [(ngModel)]="transaction.cryptoType">
        <ion-option *ngFor="let cryptocurrency of availableCryptocurrencies" [value]="cryptocurrency.acronym">{{cryptocurrency.acronym}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Quantity</ion-label>
      <ion-input type="number" formControlName="cryptoQuantity" [(ngModel)]="transaction.cryptoQuantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input type="number" formControlName="cryptoPrice" [(ngModel)]="transaction.cryptoPrice"></ion-input>
    </ion-item>

    <ion-fab right bottom>
      <button ion-fab><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>

  </form>

  <button type="button" ion-button block (click)="calculate()">
    Calculate
  </button>

  <ion-item>
    <ion-label floating>Cost</ion-label>
    <ion-input type="number" readonly [(ngModel)]="transaction.purchaseCost"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Break Even Price</ion-label>
    <ion-input type="number" readonly [(ngModel)]="transaction.breakEvenPrice"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Suggested Sell Price</ion-label>
    <ion-input type="number" readonly [(ngModel)]="transaction.suggestedSellPrice"></ion-input>
  </ion-item>

</ion-content>
